force-app/main/default/flows/Screenflow_Import_Credit_Card_Residuals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Imported_Date_GPI_PGS</name>
        <label>Set Imported Date - GPI PGS</label>
        <locationX>1128</locationX>
        <locationY>878</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_GPI_PGS_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Credit_Card_Genius_PGS__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Credit_Card_Genius_PGS__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Convert_GPI_PGS.outputValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Imported_Date__c&quot;:&quot;{!datetimeImportedDate}&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Imported_Date_GPI_Refund</name>
        <label>Set Imported Date - GPI Refund</label>
        <locationX>1392</locationX>
        <locationY>878</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_GPI_Refund_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Credit_Card_Genius_Refund__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Credit_Card_Genius_Refund__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Convert_GPI_Refund.outputValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Imported_Date__c&quot;:&quot;{!datetimeImportedDate}&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Processor_and_Date_Elavon</name>
        <label>Set Processor and Date - Elavon</label>
        <locationX>600</locationX>
        <locationY>998</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Elavon_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Credit_Card_Elavon__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Credit_Card_Elavon__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_out_Totals_Elavon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Processor__c&quot;:&quot;Elavon&quot;,&quot;Imported_Date__c&quot;:&quot;{!datetimeImportedDate}&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Processor_and_Date_GPI_Acquiring</name>
        <label>Set Processor and Date - GPI Acquiring</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_GPI_Acquiring_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Credit_Card_Genius_Acquiring__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Credit_Card_Genius_Acquiring__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_Out_Rows_GPI_Acquiring</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Imported_Date__c&quot;:&quot;{!datetimeImportedDate}&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Edited_Record_To_Save_Collection</name>
        <label>Add Edited Record To Save Collection</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>colUpdatedCreditCardResiduals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recUpdatedCreditCardResidual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_out_Record_We_Synced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Credit_Card_Residual</name>
        <label>Save Credit Card Residual</label>
        <locationX>578</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtMissingResiduals.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.MID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recNewMID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.Missing_MID_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Edited_Record_To_Save_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Credit_Card_Residual_Variable_Existing</name>
        <label>Set Credit Card Residual Variable - Existing</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtMissingResiduals.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Missing_MID_to_an_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Credit_Card_Residual_Variable_New</name>
        <label>Set Credit Card Residual Variable - New</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtMissingResiduals.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Missing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Credit_Card_Residual_Variable_Revalidate</name>
        <label>Set Credit Card Residual Variable - Revalidate</label>
        <locationX>974</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtMissingResiduals.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Missing_MID_Revalidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Table_Collection</name>
        <label>Set Data Table Collection</label>
        <locationX>710</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>colMissingCreditCardResiduals</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Missing_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Missing_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invalid_Selection</name>
        <label>Set Invalid Selection</label>
        <locationX>1920</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>boolInvalidSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Credit_Card_Import</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_MID</name>
        <label>Set New MID</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>recNewMID.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qcAccountLookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recNewMID.MID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtMissingResiduals.firstSelectedRow.Missing_MID_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recNewMID.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_MID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_MID_Revalidate</name>
        <label>Set New MID - Revalidate</label>
        <locationX>842</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.Missing_MID_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.MID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Missing_MID_Revalidate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Edited_Record_To_Save_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_qc_Processor_Label</name>
        <label>Set qc_Processor Label</label>
        <locationX>853</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Elavon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI Acquiring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI PGS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI Refunds</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nuvei</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_qc_Processor_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_qc_Processor_Value</name>
        <label>Set qc_Processor Value</label>
        <locationX>853</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Elavon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI Acquiring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI PGS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>GPI Refunds</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ProcessorValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nuvei</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Card_Import</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_No_Record_Selected</name>
        <label>Set Validation Error - No Record Selected</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>boolNoRecordSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Missing_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Data_Table_Collection</name>
        <label>Update Data Table Collection</label>
        <locationX>578</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>colMissingCreditCardResiduals</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_out_Record_We_Synced</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Missing_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MID_with_Existing_Account</name>
        <label>Update MID with Existing Account</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>recUpdatedCreditCardResidual.MID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupMID.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Edited_Record_To_Save_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_out_Record_We_Synced</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter out Record We Synced</label>
        <locationX>578</locationX>
        <locationY>2774</locationY>
        <assignNextValueToReference>currentItem_Filter_out_Record_We_Synced_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colMissingCreditCardResiduals</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_out_Record_We_Synced_0.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>dtMissingResiduals.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_Data_Table_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Out_Rows_GPI_Acquiring</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Rows - GPI Acquiring</label>
        <locationX>864</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Rows_GPI_Acquiring</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Convert_GPI_Acquiring.outputValue</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Processor</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>By Group</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ISV-PointofRentalSystems</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ISV-PointofRentalSystems/EXS-PointofRentalSystems-Esse</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.Processor__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ISV-PointofRentalSystems/EXS-PointofRentalSystems-Expe</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.DBA__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Point of Rental Systems</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.DBA__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Point of Rental Systems - Essentials</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Rows_GPI_Acquiring.DBA__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Point of Rental Systems - Expert</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Processor_and_Date_GPI_Acquiring</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_out_Totals_Elavon</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter out Totals - Elavon</label>
        <locationX>600</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>currentItem_Filter_out_Totals_Elavon_0_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Convert_Elavon.outputValue</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_out_Totals_Elavon_0_0.Partner__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Total</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Processor_and_Date_Elavon</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_Missing_Records</name>
        <label>Are there Missing Records</label>
        <locationX>1128</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Screen_Information_No_Missing_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Missing Records</defaultConnectorLabel>
        <rules>
            <name>Missing_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Missing_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Data_Table_Collection</targetReference>
            </connector>
            <label>Missing Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Records_to_Save</name>
        <label>Are there Records to Save</label>
        <locationX>1128</locationX>
        <locationY>3266</locationY>
        <defaultConnectorLabel>No Records to Save</defaultConnectorLabel>
        <rules>
            <name>Records_to_Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colUpdatedCreditCardResiduals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Card_Residuals</targetReference>
            </connector>
            <label>Records to Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_A_MID</name>
        <label>Did We Find A MID</label>
        <locationX>974</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Missing_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MID Found</defaultConnectorLabel>
        <rules>
            <name>MID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Missing_MID_Revalidate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_MID_Revalidate</targetReference>
            </connector>
            <label>MID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Show_Missing</name>
        <label>Do We Show Missing</label>
        <locationX>853</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Invalid_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Selection</defaultConnectorLabel>
        <rules>
            <name>Show_Missing_Credit_Card_Residuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnShowMissingCCR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Show Missing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Missing_MID</targetReference>
            </connector>
            <label>Show Missing Credit Card Residuals</label>
        </rules>
        <rules>
            <name>Valid_Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qc_Processor.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Import_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Processor</targetReference>
            </connector>
            <label>Valid Import</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_Pressed_Show_Missing_MIDS</name>
        <label>Which Button Pressed - Show Missing MIDS</label>
        <locationX>710</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Are_there_Records_to_Save</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Intended_to_Make_MID_but_no_Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnAddMissingMID.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Missing MID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dtMissingResiduals.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_No_Record_Selected</targetReference>
            </connector>
            <label>Intended to Make MID but no Record Selected</label>
        </rules>
        <rules>
            <name>Assign_to_Existing_MID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnAddMissingMID.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign to Existing MID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Card_Residual_Variable_Existing</targetReference>
            </connector>
            <label>Assign to Existing MID</label>
        </rules>
        <rules>
            <name>Add_Missing_MID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnAddMissingMID.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Missing MID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dtMissingResiduals.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Card_Residual_Variable_New</targetReference>
            </connector>
            <label>Add Missing MID</label>
        </rules>
        <rules>
            <name>Re_Evaluate_Missing_MIDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnAddMissingMID.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revalidate Missing MIDS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Card_Residual_Variable_Revalidate</targetReference>
            </connector>
            <label>Re-Evaluate Missing MIDs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Processor</name>
        <label>Which Processor</label>
        <locationX>1128</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>Elavon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qc_Processor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elavon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Convert_Elavon</targetReference>
            </connector>
            <label>Elavon</label>
        </rules>
        <rules>
            <name>GPI_Acquiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qc_Processor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPI Acquiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Convert_GPI_Acquiring</targetReference>
            </connector>
            <label>GPI Acquiring</label>
        </rules>
        <rules>
            <name>GPI_PGS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qc_Processor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPI PGS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Convert_GPI_PGS</targetReference>
            </connector>
            <label>GPI PGS</label>
        </rules>
        <rules>
            <name>GPI_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qc_Processor.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPI Refunds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Convert_GPI_Refund</targetReference>
            </connector>
            <label>GPI Refund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateImportDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( {!$Flow.CurrentDate} ) = 12,
  DATE( YEAR( {!$Flow.CurrentDate} ), 12, 31 ),
  DATE( YEAR( {!$Flow.CurrentDate} ), MONTH ( {!$Flow.CurrentDate} ) , 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <name>datetimeImportedDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Import_Date})</expression>
    </formulas>
    <formulas>
        <name>formImportDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Import_Date}),MONTH({!Import_Date}),DAY({!Import_Date}))</expression>
    </formulas>
    <interviewLabel>Screenflow - Import Credit Card Residuals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Import Credit Card Residuals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Elavon_Records</name>
        <label>Create Elavon Records</label>
        <locationX>600</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_Missing_MID</targetReference>
        </connector>
        <inputReference>Set_Processor_and_Date_Elavon.outputCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_GPI_Acquiring_Records</name>
        <label>Create GPI Acquiring Records</label>
        <locationX>864</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_Missing_MID</targetReference>
        </connector>
        <inputReference>Set_Processor_and_Date_GPI_Acquiring.outputCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_GPI_PGS_Records</name>
        <label>Create GPI PGS Records</label>
        <locationX>1128</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Missing_MID</targetReference>
        </connector>
        <inputReference>Set_Imported_Date_GPI_PGS.outputCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_GPI_Refund_Records</name>
        <label>Create GPI Refund Records</label>
        <locationX>1392</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Missing_MID</targetReference>
        </connector>
        <inputReference>Set_Imported_Date_GPI_Refund.outputCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MID</name>
        <label>Create New MID</label>
        <locationX>578</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Save_Credit_Card_Residual</targetReference>
        </connector>
        <inputReference>recNewMID</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Missing_MID</name>
        <label>Get Missing MID</label>
        <locationX>1128</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Missing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MISSING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card_MID__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Missing_MID_Revalidate</name>
        <label>Get Missing MID - Revalidate</label>
        <locationX>974</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_A_MID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recUpdatedCreditCardResidual.Missing_MID_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card_MID__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Missing_Records</name>
        <label>Get Missing Records</label>
        <locationX>1128</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Missing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Missing_MID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Card_Residual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Card_Residuals</name>
        <label>Update Credit Card Residuals</label>
        <locationX>996</locationX>
        <locationY>3386</locationY>
        <inputReference>colUpdatedCreditCardResiduals</inputReference>
    </recordUpdates>
    <screens>
        <name>Assign_Missing_MID_to_an_Account</name>
        <label>Assign Missing MID to an Account</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back to Missing MIDs</backButtonLabel>
        <connector>
            <targetReference>Update_MID_with_Existing_Account</targetReference>
        </connector>
        <fields>
            <name>txtHeaderAssignMID</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Assign MID to an Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assign_Missing_MID_to_an_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Missing_MID_to_an_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupAccounts</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>lookupAccounts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Missing_MID_to_an_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupMID</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>lookupMID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Credit_Card_MID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>MID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>MID Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Child</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentId</name>
                        <value>
                            <stringValue>lookupAccount</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Assign MID to Account</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Card_Import</name>
        <label>Credit Card Import</label>
        <locationX>853</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_We_Show_Missing</targetReference>
        </connector>
        <fields>
            <name>txtHeaderFirstScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Credit Card Import Wizard&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnShowMissingCCR</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Show Missing Credit Card Residuals&quot;,&quot;value&quot;:&quot;Show Missing&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Credit_Card_Import_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Credit_Card_Import_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtRequiredProcessor</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Processor is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>boolInvalidSelection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>qc_Processor</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Radio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>txt_ProcessorLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>txt_ProcessorValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Credit Card Processor Import Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Card_Import_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtRequiredDate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Import Date is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>boolInvalidSelection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Import_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dateImportDate</elementReference>
                    </defaultValue>
                    <fieldText>Import Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Import Credit Card Residuals</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Missing_Record</name>
        <label>Edit Missing Record</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Show Missing MIDs</backButtonLabel>
        <connector>
            <targetReference>Set_New_MID</targetReference>
        </connector>
        <fields>
            <name>txtHeaderAddNewMID</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Adding New MID&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Missing_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Missing_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>qcAccountLookup</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>accountLookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Missing_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_MissingMidId</name>
                    <fieldText>&lt;p&gt;MID: {!dtMissingResiduals.firstSelectedRow.Missing_MID_Id__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_MissingProfit</name>
                    <fieldText>&lt;p&gt;Profit: {!dtMissingResiduals.firstSelectedRow.Profit_to_POR__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Missing_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_MissingVolume</name>
                    <fieldText>&lt;p&gt;Volume: {!dtMissingResiduals.firstSelectedRow.Volume__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_MissingTransactions</name>
                    <fieldText>&lt;p&gt;Number of Transactions: {!dtMissingResiduals.firstSelectedRow.Number_of_Transactions__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MID_Information</name>
            <fieldText>New MID Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MID_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recNewMID.Processor__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recNewMID.Processing_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MID_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recNewMID.Location_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Approval_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Approval Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save and Assign MID</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Information_No_Missing_Records_Found</name>
        <label>Screen Information - No Missing Records Found</label>
        <locationX>1546</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_Records_to_Save</targetReference>
        </connector>
        <fields>
            <name>txtHeaderNoMissingRecords</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;No Missing Records Found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Missing_Records</name>
        <label>Show Missing Records</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button_Pressed_Show_Missing_MIDS</targetReference>
        </connector>
        <fields>
            <name>txtHeaderMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Credit Card Residuals Missing MIDs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtErrorNoRecordSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No Record was Selected. Please Choose A Record before selecting &quot;Add Missing MID&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>boolNoRecordSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Show_Missing_Records_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Missing_Records_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtMissingResiduals</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Credit_Card_Residual__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Missing Credit Card Residuals</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>colMissingCreditCardResiduals</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-dcdf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Missing_MID_Id__c&quot;,&quot;guid&quot;:&quot;column-7084&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Missing MID Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-39d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Number_of_Transactions__c&quot;,&quot;guid&quot;:&quot;column-adf8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Number of Transactions&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Profit_to_POR__c&quot;,&quot;guid&quot;:&quot;column-9f2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Profit to POR&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Volume__c&quot;,&quot;guid&quot;:&quot;column-164e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Volume&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>btnAddMissingMID</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Assign to Existing MID&quot;,&quot;value&quot;:&quot;Assign to Existing MID&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Missing MID&quot;,&quot;value&quot;:&quot;Add Missing MID&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Skip/Done&quot;,&quot;value&quot;:&quot;Skip&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Revalidate Missing MIDS&quot;,&quot;value&quot;:&quot;Revalidate Missing MIDS&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:3}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Convert_Elavon</name>
        <label>Upload/Convert Elavon</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_out_Totals_Elavon</targetReference>
        </connector>
        <fields>
            <name>Convert_Elavon</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Credit_Card_Elavon__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcConvertCSVToRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoNavigateNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Credit_Card_Elavon__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Convert_GPI_Acquiring</name>
        <label>Upload/Convert GPI Acquiring</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_Out_Rows_GPI_Acquiring</targetReference>
        </connector>
        <fields>
            <name>Convert_GPI_Acquiring</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Credit_Card_Genius_Acquiring__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcConvertCSVToRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoNavigateNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Credit_Card_Genius_Acquiring__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Convert_GPI_PGS</name>
        <label>Upload/Convert GPI PGS</label>
        <locationX>1128</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Imported_Date_GPI_PGS</targetReference>
        </connector>
        <fields>
            <name>Convert_GPI_PGS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Credit_Card_Genius_PGS__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcConvertCSVToRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoNavigateNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Credit_Card_Genius_PGS__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Convert_GPI_Refund</name>
        <label>Upload/Convert GPI Refund</label>
        <locationX>1392</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Imported_Date_GPI_Refund</targetReference>
        </connector>
        <fields>
            <name>Convert_GPI_Refund</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Credit_Card_Genius_Refund__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcConvertCSVToRecords</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoNavigateNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Credit_Card_Genius_Refund__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>727</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_qc_Processor_Label</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtSOQL_Missing</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT SUM(Number_of_Transactions__c) FROM Credit_Card_Residual__c</text>
    </textTemplates>
    <variables>
        <name>boolInvalidSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolNoRecordSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colMissingCreditCardResiduals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Residual__c</objectType>
    </variables>
    <variables>
        <name>colUpdatedCreditCardResiduals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Residual__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_out_Record_We_Synced_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Residual__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Rows_GPI_Acquiring</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Genius_Acquiring__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_out_Totals_Elavon_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Elavon__c</objectType>
    </variables>
    <variables>
        <name>recNewMID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_MID__c</objectType>
    </variables>
    <variables>
        <name>recUpdatedCreditCardResidual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card_Residual__c</objectType>
    </variables>
    <variables>
        <name>txt_ProcessorLabel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ProcessorValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
